# CLion Files
cmake-build-debug/
CMakeLists.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/project-advanced.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/Project.xml
.idea/.name
